html,
body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "ATypewriterForMe";
}
@font-face {
  src: url("./fonts/ATypewriterForMe.ttf");
  font-family: ATypewriterForMe;
  font-weight: normal;
}
